@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Default properties to Span textbox */
span[role=textbox] {
    white-space: pre-wrap;
    overflow: hidden;
    word-break: break-word;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* readability length */
p {
    max-width: 65ch;
}

:root {
    /* Basic greyscale colors */
    --clr-black-200: 0 0% 24%;
    --clr-black-400: 0 0% 18%;
    --clr-black-600: 0 0% 12%;
    --clr-black-800: 0 0% 6%;

    --clr-white-200: 0 0% 95%;
    --clr-white-400: 0 0% 85%;
    --clr-white-600: 0 0% 75%;
    --clr-white-800: 0 0% 65%;

    --clr-primary-h: 15deg;
    --clr-secondary-h: calc(var(--clr-primary-h) + 180deg);
    --clr-accent-h: calc(var(--clr-secondary-h) + 270deg);
    --clr-primary-s: 80%;
    --clr-secondary-s: var(--clr-primary-s);
    --clr-accent-s: var(--clr-primary-s);
    --clr-200: 75%;
    --clr-400: 55%;
    --clr-600: 35%;
    --clr-800: 15%;
    --opacity-1: .1;
    --opacity-3: .3;
    --opacity-5: .5;
    --opacity-7: .7;
    --clr-primary-200: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-200));
    --clr-primary-200-1: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-200) / var(--opacity-1));
    --clr-primary-200-3: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-200) / var(--opacity-3));
    --clr-primary-200-5: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-200) / var(--opacity-5));
    --clr-primary-200-7: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-200) / var(--opacity-7));
    --clr-primary-400: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-400));
    --clr-primary-400-1: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-400) / var(--opacity-1));
    --clr-primary-400-3: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-400) / var(--opacity-3));
    --clr-primary-400-5: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-400) / var(--opacity-5));
    --clr-primary-400-7: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-400) / var(--opacity-7));
    --clr-primary-600: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-600));
    --clr-primary-600-1: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-600) / var(--opacity-1));
    --clr-primary-600-3: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-600) / var(--opacity-3));
    --clr-primary-600-5: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-600) / var(--opacity-5));
    --clr-primary-600-7: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-600) / var(--opacity-7));
    --clr-primary-800: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-800));
    --clr-primary-800-1: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-800) / var(--opacity-1));
    --clr-primary-800-3: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-800) / var(--opacity-3));
    --clr-primary-800-5: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-800) / var(--opacity-5));
    --clr-primary-800-7: hsl(var(--clr-primary-h) var(--clr-primary-s) var(--clr-800) / var(--opacity-7));

    --clr-secondary-200: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-200));
    --clr-secondary-200-1: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-200) / var(--opacity-1));
    --clr-secondary-200-3: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-200) / var(--opacity-3));
    --clr-secondary-200-5: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-200) / var(--opacity-5));
    --clr-secondary-200-7: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-200) / var(--opacity-7));
    --clr-secondary-400: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-400));
    --clr-secondary-400-1: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-400) / var(--opacity-1));
    --clr-secondary-400-3: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-400) / var(--opacity-3));
    --clr-secondary-400-5: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-400) / var(--opacity-5));
    --clr-secondary-400-7: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-400) / var(--opacity-7));
    --clr-secondary-600: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-600));
    --clr-secondary-600-1: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-600) / var(--opacity-1));
    --clr-secondary-600-3: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-600) / var(--opacity-3));
    --clr-secondary-600-5: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-600) / var(--opacity-5));
    --clr-secondary-600-7: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-600) / var(--opacity-7));
    --clr-secondary-800: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-800));
    --clr-secondary-800-1: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-800) / var(--opacity-1));
    --clr-secondary-800-3: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-800) / var(--opacity-3));
    --clr-secondary-800-5: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-800) / var(--opacity-5));
    --clr-secondary-800-7: hsl(var(--clr-secondary-h) var(--clr-secondary-s) var(--clr-800) / var(--opacity-7));

    --clr-accent-200: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-200));
    --clr-accent-200-1: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-200) / var(--opacity-1));
    --clr-accent-200-3: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-200) / var(--opacity-3));
    --clr-accent-200-5: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-200) / var(--opacity-5));
    --clr-accent-200-7: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-200) / var(--opacity-7));
    --clr-accent-400: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-400));
    --clr-accent-400-1: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-400) / var(--opacity-1));
    --clr-accent-400-3: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-400) / var(--opacity-3));
    --clr-accent-400-5: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-400) / var(--opacity-5));
    --clr-accent-400-7: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-400) / var(--opacity-7));
    --clr-accent-600: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-600));
    --clr-accent-600-1: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-600) / var(--opacity-1));
    --clr-accent-600-3: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-600) / var(--opacity-3));
    --clr-accent-600-5: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-600) / var(--opacity-5));
    --clr-accent-600-7: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-600) / var(--opacity-7));
    --clr-accent-800: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-800));
    --clr-accent-800-1: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-800) / var(--opacity-1));
    --clr-accent-800-3: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-800) / var(--opacity-3));
    --clr-accent-800-5: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-800) / var(--opacity-5));
    --clr-accent-800-7: hsl(var(--clr-accent-h) var(--clr-accent-s) var(--clr-800) / var(--opacity-7));




    /* Font Family variables */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-mono: 'Azeret Mono', monospace;
    --ff-serif: 'Bitter', serif;

    /* Text sizing variables */
    --txt-xsm: .7rem;
    --txt-small: .9rem;
    --txt-small-fluid: clamp(.5rem, calc(10px + 1vmin), .75rem );
    --txt-med: 1.1rem;
    --txt-med-fluid: clamp(1rem, 3vw, 1.5rem);
    --txt-lrg: 1.75rem;
    --txt-lrg-fluid: clamp(1.75rem, 4vw, 2.5rem );
    --txt-xlrg: 3.5rem;
    --txt-xlrg-fluid: clamp(2.5rem, 10vw, 6rem );
    --txt-xxl-fluid: clamp(4rem, 20vw, 12rem );

    /* shape - size variables */
    --radius: 10px;
    --radius-input: .5em;


    /* Defaults set for basic elements */
    --clr-bg: hsl(var(--clr-black-600));
    --clr-text: hsl(var(--clr-primary-h) calc(var(--clr-primary-s) * 2) var(--clr-400));
    --clr-btn-bg: var(--clr-primary-800-7);
    --clr-btn: var(--clr-secondary-200);
    /*--clr-text: hsl(var(--clr-white-400));*/
    --clr-border: var(--clr-accent-400-3);


    /*--clr-bg: hsl(var(--clr-white-200));*/
    /*--clr-text: hsl(var(--clr-black-800));*/
    /*--clr-border: var(--clr-accent-800);*/

}

/*********************************************************************
                            SCROLL BAR STYLE
********************************************************************/
/* Chrome / Safari */
::-webkit-scrollbar {
    display: block;
    width: 0.45rem;
    height: 0.45rem;
}
::-webkit-scrollbar-track {
    background: var(--clr-primary-400);
}
::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: var(--clr-secondary-400);
}
::-webkit-scrollbar-corner {
    background: var(--clr-secondary-400);
}
/* Firefox --Early module, not as many options  */
html {
    scrollbar-color: var(--clr-primary-400) var(--clr-secondary-400);
    scrollbar-width: thin;
}
/*********************************************************************
                                BODY
********************************************************************/
html {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    min-height: 100vh;
    height: 100%;
}
/* Set core body defaults */
body {
    height: 100%;
    background-color: var(--clr-bg);
    color: var(--clr-text);
    font-family: var(--ff-primary);
    line-height: 1.5;
}
#app {
    display: grid;
    min-height: 100%;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
      'header'
      'main'
      'footer';
}
header {
    grid-area: header;
    transform: translate3d(0,0,0);
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer {
    grid-area: footer;
}
/*********************************************************************
                            Custom Dropdown
********************************************************************/
.dropdown {
    padding: .35em 1.75rem .35em .35em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--clr-border);
    border-radius: 7px;
    position: relative;
    cursor: pointer;
    background-color: var(--clr-secondary-800-3);
}
.dropdown::after {
    content: '\25BC';
    position: absolute;
    inset: auto .35em 32.5% auto;
    transform: translateY(50%);
}
.dropdown-title {
    display: flex;
    flex-direction: row;
    gap: .5em;
    user-select: none;
}
.dropdown-items {
    position: absolute;
    bottom: -2rem;
}
.dropdown-items-nav {
    position: fixed;
    background-color: var(--clr-secondary-800);
    inset: auto .9rem -9rem auto;
    width: 160px;
    padding-inline: .5rem;
    padding-block: .35rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    border-radius: 0 0 3px 3px;
}
.dropdown-items-nav a,
.dropdown-items a {
    user-select: none;
    color: var(--clr-primary-200);
    padding: .25em;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.dropdown-items-nav a:hover,
.dropdown-items a:hover {
    background-color: hsl(0deg 0% 0% / .25);
}

/*********************************************************************
                                TABLE
********************************************************************/

.v-table {
    background-color: var(--clr-secondary-800-3);
    margin-inline: auto;
    width: 100%;
    max-width: min(100%, 70rem);
    --border: hsl(0deg 0% 100% / .15);
    border-collapse: collapse;
}
.table-img-head {
    min-width: 50px;
    width: 5%;
    aspect-ratio: 1 / 1.5;
}
.table-img-row {
    border: none;
    padding: .25rem;
}

.table-title-row {
    border-left: none;
}

.table-title-head {
    width: 74%;
}
.table-rating-head {
    width: 9%;
}
.table-progress-head {
    width: 13%;
}
.table-rating-row {
    text-align: center;
}
.table-progress-row {
    text-align: right;
}
.table-progress-row {
    border-right: 1px solid var(--border);
}
th {
    padding: .5rem;
}
th span {
    padding-left: .25rem;
    cursor: default;
    user-select: none;
}
thead {
    background-color: var(--clr-secondary-200-3);
}
td {
    padding: 0 .25rem;
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
}

/*********************************************************************
                                MULTI SELECT
********************************************************************/

.multiselect * {
    color: var(--clr-text);
    border: none;
}
.multiselect *::placeholder {
    color: var(--clr-text);
}
.multiselect__single,
.multiselect__tags,
.multiselect__tags input,
.multiselect__option:not(.multiselect__option--highlight) {
    background: var(--clr-bg);
}
.multiselect__single {
    cursor: pointer;
}
.multiselect__option--highlight {
    background: hsl(0deg 0% 10% / .9);
}
.multiselect__option--highlight::after {
    background: transparent;
}
.multiselect__tag {
    font-weight: 500;
    background: var(--clr-secondary-400-5);
}