
name: Vite Ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
      - name: Install dependencies
        run: npm install
        working-directory: client
      - uses: actions/checkout@v2
      - name: Vite Build
        run: vite build --if-present
        working-directory: client
